/*---------- Sass Variabler ----------*/
$primary_black: #252525;
$primary_white: #ffffff;
$primary_light_gray: #eaeaea;
$primary_blue: #a1beda;

$secondary_white: #f6f6f6;
$secondary_gray: #a19e9e;

/*-----*/
/*---------- fonts ----------*/
$secondary_font: "Shadows Into Light", cursive;
$primary_font: "Abel", sans-serif;

/*-----*/
/*---------- general --------- */

h1 {
  font-family: $secondary_font;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: $primary_black;
  display: inline-block;
  padding-left: 20%;
}

h2 {
  font-family: $primary_font;
  font-size: 30px;
  text-align: center;
  color: $primary_black;
  padding-bottom: 5px;
  font-weight: bold;
}

h3 {
  font-family: $primary_font;
  font-size: 20px;
  color: $primary_black;
  margin-left: 20px;
}

h4 {
  font-family: $primary_font;
  font-size: 18px;
  color: $primary_black;
  margin-left: -10px;
}

p {
  font-family: $primary_font;
  font-size: 16px;
  color: $primary_black;
}

.topbar {
  background-color: $primary_blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: $primary_font;
  background-color: $primary_light_gray;
}

.page {
  padding-top: 70px;
}

.back_arrow {
  height: 35px;
  padding: 10px 0px 10px 10px;
}

.line {
  height: 2px;
  background-color: $secondary_gray;
  width: 75%; //længde
  margin: 15px 0 20px 22%;
}

/*-----*/
/*---------- navigation / tabbar ----------*/
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border: 1px solid $primary_black;
  height: 68px;
  background-color: $primary_blue;
}

nav a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;

}

.nav_right_line {
  border-right: 1px solid black;
}

.nav_icon {
  height: 45px;
  padding: 11px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*-----*/
/*---------- Forside ----------*/

.topbar_home {
  padding: 13.5px;
}

.page_home {
  padding-top: 135px;
}

.h1_home {
  font-size: 35px;
}

.category_img{
  width: 65%;
  padding-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*-----*/
/*---------- Vaske symbol - forside - filter side ----------*/

.choose_category_section{
  padding: 1em;
  display: grid;
  grid-template-columns: 18% 40% 37% 5%;

}

.choose_category_img{
  border: 1px solid $primary_black;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.choose_category_arrow{
  height: 20px;
  padding-top: 22px;
}


/*-----*/
/*---------- se detalje side -----------*/
//filter
.tools-grid{
  //text-align: center;
  padding-left: 4%;
  padding-bottom: 12px;
}

#sortBy{
  width: 100px;
}

.washing_symbol_filter{
  font-family: $primary_font;
  color: $primary_black;
  font-size: 18px;
}

//detaljer
.detaild_view_img{
  border: 1px solid $primary_black;
  height: 110px;
  margin: 25px 33% 0 33%;
}

.detaild_view_article{
  padding: 0 10% 0 10%;
}

.detaild_view_h2{
  padding-bottom: unset;
  margin-top: 5px;
  margin-bottom: -15px;
}

.detaild_view_h3{
  text-align: center;
  padding-bottom: 20px;
}

/*-----*/